*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#080808;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}


/* HERO */

.hero{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    position:relative;
    overflow:hidden;
}


.hero::before{

    content:"RUMİ7XL";

    position:absolute;

    top:50%;
    left:50%;

    transform:translate(-50%,-50%);

    font-size:220px;

    font-weight:900;

    letter-spacing:15px;

    color:rgba(145,70,255,0.035);

    white-space:nowrap;

}



.hero-content{

    position:relative;

    z-index:2;

    transform:translateY(-60px);

}



.hero h1{

    font-size:100px;

    color:#9146ff;

    letter-spacing:10px;

    text-shadow:
    0 0 20px rgba(145,70,255,.5);

}



.hero h2{

    font-size:42px;

    margin-top:15px;

}



.hero p{

    margin-top:20px;

    font-size:25px;

    color:#aaa;

}



.live-box{

    margin-top:25px;

    display:inline-block;

    padding:12px 30px;

    background:#111;

    border:1px solid #9146ff;

    border-radius:30px;

    color:#ddd;

}



.arrow{

    margin-top:55px;

    font-size:60px;

    color:#9146ff;

    animation:down 1.5s infinite;

}



@keyframes down{

    50%{

        transform:translateY(15px);

    }

}





/* PLATFORM KARTLARI */


.platform{

    width:90%;

    max-width:1200px;

    margin:70px auto;

    padding:45px;


    background:#111;

    border:1px solid #222;

    border-radius:25px;


    display:flex;

    align-items:center;

    gap:50px;


    transition:.3s;

}



.platform:hover{

    transform:translateY(-8px);

    border-color:#9146ff;

    box-shadow:
    0 0 40px rgba(145,70,255,.25);

}




.info{

    flex:1;

}



.info h2{

    font-size:48px;

    margin-bottom:20px;

}



.info p{

    color:#aaa;

    font-size:20px;

    line-height:1.6;

}



.info a{

    margin-top:30px;

    display:inline-block;

    padding:15px 45px;

    background:#9146ff;

    color:white;

    text-decoration:none;

    border-radius:12px;

    font-size:18px;

    transition:.3s;

}



.info a:hover{

    background:#772ce8;

    transform:scale(1.05);

}





.image{

    flex:1;

}



.image img{

    width:100%;

    border-radius:20px;

}






footer{

    text-align:center;

    padding:40px;

    color:#777;

}




/* TELEFON */


@media(max-width:800px){


.hero h1{

    font-size:55px;

}


.hero h2{

    font-size:28px;

}


.hero p{

    font-size:18px;

}



.platform{

    flex-direction:column;

    padding:30px;

}



.info h2{

    font-size:35px;

}


.hero::before{

    font-size:90px;

}


}
