*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{

    background:#050505;
    color:white;
    font-family:Arial, Helvetica, sans-serif;

}


/* HERO */

.hero{

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;

    position:relative;

    overflow:hidden;

}



.hero::before{

    content:"";

    position:absolute;

    inset:0;

    background:
    radial-gradient(circle,rgba(145,70,255,.25),transparent 60%);

}



.hero-content{

    position:relative;
    z-index:2;

}



.main-banner{

    width:min(1200px,95vw);

    border-radius:20px;

    box-shadow:
    0 0 50px rgba(145,70,255,.5);

    margin-bottom:35px;

}




.hero h1{

    font-size:90px;

    color:#9146ff;

    letter-spacing:10px;

    text-shadow:
    0 0 30px #9146ff;

}



.hero h2{

    font-size:40px;

    margin-top:15px;

}



.hero p{

    margin-top:20px;

    font-size:25px;

    color:#aaa;

}



.live-box{

    display:inline-block;

    margin-top:25px;

    padding:12px 35px;

    border:1px solid #9146ff;

    border-radius:30px;

    background:#111;

}




.arrow{

    margin-top:40px;

    font-size:55px;

    color:#9146ff;

}



/* KARTLAR */


.cards{

    width:90%;

    max-width:1400px;

    margin:auto;

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:25px;

}




.card{

    background:#0d0d0d;

    border:1px solid #222;

    border-radius:25px;

    padding:30px;

    text-align:center;

    transition:.3s;

}



.card:hover{

    transform:translateY(-10px);

    box-shadow:
    0 0 40px rgba(145,70,255,.5);

}




.logo{

    width:80px;

    height:80px;

    margin:auto;

    border-radius:50%;

    display:flex;

    align-items:center;

    justify-content:center;

    font-size:40px;

    font-weight:bold;

    border:2px solid white;

}




.card h2{

    margin-top:20px;

    font-size:32px;

}



.card p{

    color:#aaa;

    margin-top:15px;

    line-height:1.5;

}




.card a{

    display:inline-block;

    margin-top:25px;

    padding:12px 30px;

    border-radius:30px;

    text-decoration:none;

    color:white;

    border:1px solid #9146ff;

    transition:.3s;

}



.card a:hover{

    background:#9146ff;

}




.card-image{

    margin-top:25px;

}



.card-image img{

    width:100%;

    border-radius:15px;

}




/* RENKLER */


.kick .logo{

    background:#53fc18;

    color:black;

}



.youtube .logo{

    background:red;

}



.tiktok .logo{

    background:#111;

}



.instagram .logo{

    background:#e1306c;

}




footer{

    text-align:center;

    padding:40px;

    color:#777;

}




/* TELEFON */

@media(max-width:900px){


.cards{

    grid-template-columns:1fr;

}



.hero h1{

    font-size:55px;

}



.hero h2{

    font-size:28px;

}


}
